* {
    margin: 0;
    padding: 0;
}

/************************ Banner part  ************************/

.banner {
    background-image: url('../images/banner/banner3.png');
    background-size: cover;
    /* position: absolute; */
    width: 100%;
    height: 700px;
    left: 0px;
    top: 0px;

}

.banner-text {
    padding-top: 180px;
    padding-right: 130px;
    text-align: right;
    font-size: 50px;
    font-family: 'Work Sans';
    font-weight: 700;
    line-height: 60px;
    color: #FFFFFF;
}

.banner-details {
    padding-right: 130px;
    padding-top: 15px;
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
}

.btn-contact {
    position: absolute;
    padding: 10px 30px;
    left: 1085px;
    top: 470px;
    color: #005FAC;
    font-family: 'Work Sans';
    font-weight: 600;
    line-height: 23px;
    border: 0;
    border-radius: 10px;
    align-items: flex-end;
}

/************************ Failures Part ************************/

.failure {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}

.failure-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    color: #151414;
}

.failure-text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    margin-top: 20px;
    color: #444343;
}

.failure-list {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    color: #444343;
    padding-top: 20px;
}

/************************* Plans Part *************************/

.plans-header {
    text-align: center;
    margin-top: 100px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 47px;
    color: #151414;
}

.skills {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 50px;
}

.skill-align {
    display: flex;
    flex-direction: column;
}

.skill {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #151414;
}

.wants {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: #737272;
}

.image-one {
    padding-left: 50px;
}

.image-two {
    padding-left: 10px;
}

.image-third {
    padding-left: 20px;
}

.image-fourth {
    padding-left: 10px;
}

/********************** Contact Part ************************/

.contact {
    background: url(../images/gradient1.png);
    background-image: url("../images/watch.png"), linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    border-radius: 8px;
    background-blend-mode: overlay;
    width: 1135px;
    height: 301px;
    margin-top: 100px;
    margin-left: 110px;
}

.contact-heading {
    padding-top: 70px;
    padding-left: 65px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

.contact-btn {
    padding: 12px 30px;
    margin-top: 20px;
    margin-left: 65px;
    color: #005FAC;
    font-family: 'Work Sans';
    font-weight: 600;
    line-height: 23px;
    border: 0;
    border-radius: 10px;
}

/********************** Blog Part ************************/

.blog-header {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 47px;
    color: #151414;
}

.key-word {
    color: crimson;
}

.blog-text {
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Work Sans';
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    color: #444343;
}

.blog-details {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.blog-description {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: 'Work Sans';
    font-weight: 700;
}